.carrusel{
    height:80px;
    overflow:hidden;
    width:3000px;
}

.bloque-imagenes{
    padding:0;
    width:auto;

}

.bloque-imagenes li{
    list-style:none;
    margin-top:20px;
    font-family: arial;
    font-size:30px;
    color: white;
    margin-bottom:10px;
    display:inline;
    float:left;

}

.bloque-imagenes li{
    height:100px;
    width:auto;
    border:0;
}

.bloque-imagenes a:hover img{
    border:1px #fff solid;
}