.carrusel{
    height:100px;
    overflow:hidden;
    width:3000px;
}

.bloque-imagenes{
    padding:0;
    width:auto;

}

.bloque-imagenes li{
    list-style:none;
    margin-top:50px;
    margin-bottom: 10px;
    font-family: arial;
    font-style: inherit;
    font-size:60px;
    color: #5e6986;
    display:inline;
    float:left;

}

.bloque-imagenes li{
    height:100px;
    width:auto;
    border:0;
}

.bloque-imagenes a:hover img{
    border:1px #fff solid;
}